#include <windows.h>

// --- Icon ---
id ICON "icon.ico"

// --- Version Info ---
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "CompanyName", "Gitun"
			VALUE "FileDescription", "FileNote - create notes for files"
			VALUE "FileVersion", "1.0.0.0"
			VALUE "InternalName", "filenote.exe"
			VALUE "OriginalFilename", "filenote.exe"
			VALUE "ProductName", "FileNote"
			VALUE "ProductVersion", "1.0.0.0"
			VALUE "LegalCopyright", "2025 Gitun. All rights reserved."
		END
	END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
